.App {
  text-align: left;
}

.score {
  float: right;
}

.playerContainer {
  display: inline-block;
  border: solid;
  border-radius: 30px;
}

.crystalBall {
  height: 300px;
  width: 300px;
  background-color: #4C0099;
  border-radius: 50%;
  margin: 0 auto;
}

.inputContainer {
  margin: 0 auto;
  text-align: center;
}

.cardSelectionContainer {
  text-align: center;
}
